/******************
	GENERAL STYLE

	#DC3522
	#D9CB9E
	#374140
	#2A2C2B
	#1E1E20

******************/

body {
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	background-color: #d9cb93;
	color: #1E1E20;
}


a{	
	text-decoration: none;
 	color: inherit;
}
p{
	display: inline-block; 
	margin: 0;
	font-size: .725em;
}
h1,h2{ 
	display: block; 
	margin: 0;
	padding: 10px 0px;
}
li{ 
	display: inline-block;	
	list-style-type: none; 
}
.off{
	display: none !important;
}

tr,th,td { height: 23; }

li.navbar a {
	font-size: 1.25em;
}
/******************
	HEADER
******************/
.header{
	background-color: #374140;
}

.header .brand .brand-text{
	text-decoration: none;
	color: inherit;
}

.nav {
	margin: 0;
	height: 40px;
	text-align: center;
	background: none;
	padding: 0;
}
 .nav li.navbar {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	min-width: 100px;
	float: center;
	padding: 0 10px;
}
.nav li.navbar a {
	display: inline-block;
	float: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#panel, #flip {
	width: 350px;
	float: right;
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#flip{
	clear: right;
}

#panel {
	width: 350px;
  	height: 60px;
  	padding: 5px;
    display: none;
}

.animation{
	float: right;
	margin-right: 5px;
	width: 36px;
}


/******************
	HOME PAGE
******************/

.main{
	min-height: 200px;
	height: auto;
	text-align: center;
}

.main .nav { 
	display: inline-block; 
	width: 100%;
	background-color: #DC3522;
	border-top: 2px #2A2C2B;
	border-bottom: 2px #2A2C2B;
}

.main .info {
	min-height: 300px;
	text-align: center;
}
.main .info:nth-child(2n+0){
	
}

.main .info .wrap {display: inline-block;}


.panel form {
	height: 48px;
	display: inline-block;
}
.panel table {
	display: inline-block;
	height: 48px;
}

.panel form input, .signin label{
	display: inline-block;
}
.panel form input[type="submit"]{
	height: 48px;
	border: none;
	float: right;
	vertical-align: top;
}

.tiny { 
	font-size: .25em; 
	display: block;
}

/******************
	PROFILE PAGE
******************/

.profile {
	text-align: center;
	padding-top: 10px;
	min-height: 300px;
}	
.profile .user.img, .user.text.right {
	width: 45%;
	display: inline-block;
}
.profile .user.img { padding-top: 0;}
.profile .user.img img {
	max-width: 150px;
	max-height: 150px;
	min-height: 100px;	
	width: 90%;
	display: inline-block;
	vertical-align: top;
}

.profile .user.text.right{
	vertical-align: top;
}
.profile .user.text h2, .user.text p, .user.text a{
	padding: 2px;
}
.profile .user.text p, .user.text a {
	text-align: center;
	display: inline-block;
	min-width: 50%;
	font-size: .825em;
}

/******************
	FOOTER
******************/

.footer{
	width: 100%;
	height: 120px;
	bottom: 0;
	text-align: center;
	background-color: rgba(62,64,69, .5);
}

.footer .images{ 
	height: 64px;
	padding: 10px 0 0 ;
	background: none;
}
.footer a.img{ 
	padding: 0 10px; 
	background: none;
}
.footer a.img img{
	width: 64px;
	height: 64px;
	background: none;
}
.footer p {
	font-size: 80%;
	margin: 10px;
}
@media screen and (max-width: 499px){

	.login{ width: 100%; }

	.signinform{ float: center; }

	.header{
		height: 100px;
	}

	.animation{
		width: 200px;
		float: right;
		bottom: 0;
		height: 40px;
	}

	#flip{
		width: 100px;
		height: 15px;
	}
	#flip p{
		line-height: 15px;
	}

	#panel{
		width: 200px;
		height: 60px;
	}
	#panel input[type="text"], input[type="password"]{
		width: 100px;
		float: left;
	}	

	#panel input[type="submit"]{
		display: none;
	}
	.main .info .wrap { width: 100%; 
		float: center;
		display: block;
	}
	.main .info .wrap.text p {
		width: 90%;
		padding-top: 10px;
	}
	.main .info .wrap.img img {
		max-width: 220px;
		max-height: 300px;
	}

	.main .nav li.navbar{
		width: 110px;
		padding: 0 2.5px;
	}


	.footer { height: 90px;}

	.footer .images { 
		padding: 7px 0;
		height: 48px;
	}
	.footer a.img img {
		height: 48px;
		width: 48px;
	}
	.footer p { 
		margin: 5px;
	}
}

@media screen and (min-width:500px){
	.header{
		height: 120px;
		max-height: 160px;
		-webkit-transition: height .5s;
	}
	.login {
		float: right;
		padding:7px;
	}
	.brand {
		float: left;
		margin-left: 20px;
		height: 60px;
	}
	ul.nav.header{
		width: 400px;
		float: right;
	}

	.main .nav li.navbar{
		padding: 0 20px;
	}

	.main .info .wrap{
		width: 45%;
		max-width: 400px;
		display: inline-block;
		text-align: center;
	}
	.main .info .wrap p {
		padding-top: 10px;
		text-align: center;
	}
	.main .info .wrap.img { 
		vertical-align: top; 
		padding-top: 20px;
	}
	.main .info .wrap.img img {
		max-height: 200px;
		max-width: 100%;
	}
}

/*
fix for super small
*/

@media screen and (max-width:360px){
	
	.main .nav li.navbar {
		width: 90px;
	}
	.main .nav li.navbar a {
		font-size: .80em;
	}

}


