extends layout

block content
	.main
		ul.nav
			li.navbar
				a(href="#whatisdap") What is dap
			li.navbar 
				a(href="#howtouse") How to use
			li.navbar 
				a(href="#howtoget") How to get
		#whatisdap.info
			.wrap.text
				h2 What is dap?
					p.
						Ever go to a new place, like a new school or gym,
						and struggle to remember the names of everyone you meet?
						Now, the limits of human memory are a thing of the past!
						With dap, getting someones name, photo, facebook, and more
						is as simple as touching phones!
			.wrap.img
				img(id="battledroid" src="http://tutorialandroid.net/wp-content/uploads/NFC.jpg")
		#howtouse.info
			.wrap.text
				h2 How to use
					p.
						Using dap is extremely easy, even with those who dont own
						the app! Sharing is as simple as clicking the dap button, and touching phones with
						your new acquaintance.  If they do not have the app, they will be directed to the 
						google play store to download it for themself!
			.wrap.img
				img(id="droid1" src="http://jef.binomed.fr//binomed_docs/Prezs/AndroidNfc/images/nfc_demo.png")
		#howtoget.info
			.wrap.text
				h2 How to get
					p.
						You can download dap for free from the googleplay store!
						Dap is, and will always be free, so we ask that if you enjoy using
						our service that you consider donating a few dollars to help cover server costs.
			.wrap.img