extends layout

block content
	.main
		.login 
			.signin
				form(method="post" action="/")
					table
						tr
							th
								label(for="email") Email:
							td
								input(type="text" id="email" name="email")
						tr
							th
								label(for="password") Password:
							td
								input(type="password" id="password" name="password")
					input(type="submit" value="Submit")
					a(class="tiny" href="#s") Forgot password?
				#gSignInWrapper
					#myButton
