extends layout

block content
	.main
		.profile
			.user.img
				img(class="img profile user" src="http://puu.sh/fAFXB/1f18b63861.png")
			.user.text.right
				h2 Jon Doe
				p Student at Binghamton university
				a(href="mailto:test@Binghamton.edu") test@binghamton.edu
				a(href="tel:555555555") 555-555-5555

			
