extends layout

block head
	script(src='/javascripts/user.js')

block content
	.main
		.profile
			.user.img
				img#profpic(class="img profile user" src="")
			.user.text.right
				h2#name Jon Doe
				p Student at Binghamton university
				a#email(href="mailto:test@Binghamton.edu") test@binghamton.edu
				a#phone(href="tel:555555555") 555-555-5555