extends layout

block head
	script(src='/javascripts/user.js')
	#uid(val= id)

block content
	.main
		.profile
			.user.img
				img#profpic(class="img profile user" src="")
			.user.text.right
				h2#name
				a#email(href="mailto:")
				a#phone(href="tel:555555555") 555-555-5555